.modal{
    width: 100%;
    display: flex;
    padding: 2% 0 2% 0;
    justify-content: center;
    position: absolute;
}
.modal-content {
    display: grid;
    grid-template-columns: 33.33% 66.67%;
    padding: 1vw;
    width: 95%;
    height: auto;
    background-color: rgb(22,22,22);
    box-shadow: 0px 0px 11px 7px rgba(255, 0, 0, 0.74), 0px 0px 7px 11px rgba(0, 4, 255, 0.664);
}
.modal-content .poster{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0;
}

.modal-content .column-1 {
    word-break: break-all;
    text-align: center;
    font-size: 2em;
    color: aliceblue;
    padding: 1vw;
    background-color: rgb(44,44,44);
}

.modal-content .column-1 .title {
    font-size: clamp(1rem, 2vw + 0.75em, 30px);
    
}
.modal-content .column-2 {
    padding: 1vw
}

.modal-content .column-2 .synopsis {
    text-align: justify;
    background-color: rgb(44,44,44);
    box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.445), 11px 11px 11px rgba(0, 4, 255, 0.445);  
    padding: 1vw;
    height: auto;
    max-height: 270px;
    border-radius: 0.5vw;
    font-size: clamp(1rem, 2vw, 20px);
    margin-bottom: 3vw;
}
.synopsis-more {
    animation-name: seeMore;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 100%;
    text-align: center;
    background-color: rgb(54,54,54);
    color:blueviolet;
    font-size: clamp(0.5rem, 1.5vw, 20px);
    border-radius: 0.5em;
    margin-top:0.5em;
    font-weight: 900;
    padding: 0.5vw 0 0.5em 0;
}
.synopsis-text {
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: rgb(54,54,54);
    max-height: 200px;
    overflow:scroll;
}
*::-webkit-scrollbar {
    width: 1vw;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(54,54,54);
    border-radius: 0.5vw;
    width: 0.5vw;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(22,22,22);
    border-radius: 0.5em;
    border: 2px solid blueviolet;
  }
.column-2 .score {
    background-color: rgb(44,44,44);
    padding: 2%;
    border-radius: 0.5vw;
}
.anime-score-box {
    display:flex;
    justify-content: space-between;
}
@keyframes seeMore {
    from {
        background-color: rgb(54,54,54);
    }
    to {
        background-color: rgb(50,50,50);
    }
}

@media screen and (max-width:600px){
    .modal-content {
        display: flex;
        flex-direction: column;
        padding: 1vw;
        width: 95%;
        height: auto;
        background-color: rgb(22,22,22);
        box-shadow: 0px 0px 11px 7px rgba(255, 0, 0, 0.74), 0px 0px 7px 11px rgba(0, 4, 255, 0.664);
    }
    .modal-content .column-1 {
        background-color: rgb(22,22,22);
    }
}