.modal{
    width: 90%;
    display: flex;
    padding: 2% 0 2% 0;
    justify-content: center;
    position: absolute;
    animation-name: showModal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.modal-content {
    display: grid;
    grid-template-columns: 33.33% 66.67%;
    width: 95%;
    height: auto;
    background-color: rgb(22,22,22);
    box-shadow: 0px 0px 11px 7px rgba(255, 0, 0, 0.74), 0px 0px 7px 11px rgba(0, 4, 255, 0.664);
}
.modal-content .poster{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0;
}

.modal-content .column-1 {
    word-break: break-all;
    text-align: center;
    font-size: 2em;
    color: aliceblue;
    padding: 1vw;
    background-color: rgb(44,44,44);
}

.modal-content .column-1 .title {
    font-size: clamp(1rem, 2vw + 0.75em, 30px);
    
}
.modal-content .column-2 {
    padding: 1vw
}

.modal-content .column-2 .synopsis {
    text-align: justify;
    background-color: rgb(44,44,44);
    box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.445), 11px 11px 11px rgba(0, 4, 255, 0.445);  
    padding: 1vw;
    height: auto;
    max-height: 270px;
    border-radius: 0.5vw;
    font-size: clamp(1rem, 2vw, 20px);
}
.synopsis-text {
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: rgb(54,54,54);
    max-height: 200px;
    overflow:scroll;
}
*::-webkit-scrollbar {
    width: 1vw;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(54,54,54);
    border-radius: 0.5vw;
    width: 0.5vw;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(22,22,22);
    border-radius: 0.5em;
    border: 2px solid blueviolet;
  }
.column-2 .score {
    background-color: rgb(44,44,44);
    padding: 2%;
    border-radius: 0.5vw;
}
.anime-score-box {
    display:flex;
    justify-content: space-between;
    height: 3em;
    margin-top: 3vw;
}
.evaluationForm {
    justify-content: center;
    text-align: center;
    padding: 1vw;
    border-radius: 0.5vw;
    flex-direction: column;
    background-color: rgb(44,44,44);
}
.evaluate-button {
    background-color: rgb(43, 205, 226);
    border:none;
    border-radius: 0.5vw;
    padding: 1vw;
    height: 3.5em;
    margin: 0 1vw;
}
.evaluate-button:hover {
    animation-name: evaluateHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.close-modal {
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-size: 3em;
}

@keyframes showModal {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes evaluateHover {
    from {
        transform: scale(1);
      }
      to {
        color: rgba(43, 205, 226, 0.788);
        background-color: rgb(54,54,54);
        box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.445), 11px 11px 11px rgba(0, 4, 255, 0.445); 
        transform: scale(1.1);
      }
}

@media screen and (max-width:600px){
    .modal-content {
        display: flex;
        flex-direction: column;
        padding: 1vw;
        width: 95%;
        height: auto;
        background-color: rgb(22,22,22);
        box-shadow: 0px 0px 11px 7px rgba(255, 0, 0, 0.74), 0px 0px 7px 11px rgba(0, 4, 255, 0.664);
    }
    .modal-content .column-1 {
        background-color: rgb(22,22,22);
    }
}